.landing-page, .publisher-page, .subscriber-page {
  text-align: center;
  margin-top: 50px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}